	<div class="page-header">
		<h1 class="header">Benvenuto su Morra Cinese Trial</h1>
	</div>


	<div class="row">
		<div class="col-sm-12">
			<h3>Il gioco...</h3>
			<p>La morra cinese (conosciuta nel mondo come rock-paper-scissors, carta-forbice-sasso) è un gioco di mano popolare, giocato spesso dai bambini.</p>

			<p>Due giocatori tengono la mano chiusa a pugno e la fanno dondolare mentre contano assieme "Mor-...ra-...ci-...ne-...se!".
				Al "se!" ogni giocatore cambia immediatamente il pugno in una delle tre possibili "mani" (o armi):</p>
				<ul>
					<li>Sasso (o Roccia): la mano chiusa a pugno.</li>
					<li>Carta (o Rete): la mano aperta con tutte le dita stese.</li>
					<li>Forbici: mano chiusa con indice e medio estesi a formare una "V".</li>
				</ul>
			<p>Ogni segno ne batte un altro, secondo questo schema:<p>
		</div>
	</div>

	<div class="row wrapper" >
		<div class="col-sm-1">
			<img src="assets/images/schema.jpg" id="immagine">
		</div>
		<div class="col-sm-11">
				<ol>
					<li>Il sasso spezza le forbici (vince il sasso)</li>
					<li>Le forbici tagliano la carta (vincono le forbici)</li>
					<li>La carta avvolge il sasso (vince la carta)</li>
				</ol>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<p>In caso si scelga la stessa arma la mano è pari.
			Si guadagna un punto ogni volta che si batte l’avversario.</p>
			<h3>Scopo:</h3>
			<p>Vincere il numero di mani deciso dagli stessi giocatori all’inizio; solitamente 2 su 3 o 3 su 5.</p>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<p>Per iniziare a giocare visita la pagina "Gioca Subito" o premi il pulsante "Gioca"</p>
		</div>
		<div class="col-sm-12 centr-horiz">
			<button class="btn btn-success" type="button" ng-click="morraCtrl.goToGame();">Gioca</button>
		</div>
	</div>
